<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Task</title>
</head>
<body>
    <h1>View Task</h1>
    <%if(result.length > 0){%>
        <table border="" cellspacing="0" cellpadding="10">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Task</th>
                <th>Task Completion Date</th>
                <th>Task Status</th>
            </tr>
            <%result.forEach(function(stf){%>
                <tr>
                    <td><%=stf.id%></td>
                    <td><%=stf.staff_name%></td>
                    <td><%=stf.task%></td>
                    <td><%=stf.task_date%></td>
                    <td><%=stf.task_status%></td>
                </tr>
            <%})%>
        </table>
    <%}else{%>
        <p>No Task Available</p>
    <%}%>
    
</body>
</html>